extern/xsde/xrs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  
  <xs:element name="xrs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ResourceSet"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string"/>
      <xs:attribute name="version" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Resource" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="prefix" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>

<xs:element name="Resource">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" use="required" type="ResourceTypes"/>       
        <xs:attribute name="alias" use="required" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

  <xs:simpleType name="ResourceTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="file"/>
      <xs:enumeration value="image"/>
      <xs:enumeration value="text"/>
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>
